@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url("gilroy-extrabold-webfont.woff2") format("woff2"), url("gilroy-extrabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url("gilroy-regular-webfont.woff2") format("woff2"), url("gilroy-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}