$break-small: 719px;

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Gilroy-Regular", sans-serif;
  margin: 0;
  color: #ffffff;

  p {
    font-family: gilroy;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  a {
    color: #098a34;

    &:hover,
    &:active {
      color: #098a34;
    }
  }

  .wrapper {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
  }

  header {
    background: url("../images/header.png") center left no-repeat;
    background-size: cover;
    min-height: 650px;
  }

  header #main-nav {
    padding: 1em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header #main-nav .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    float: left;
  }

  header #main-nav .logo-wrap a {
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  header #main-nav .logo-wrap a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  header #main-nav .nav-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    width: 50%;
  }

  header #main-nav .nav-wrap .nav-list {
    display: block;
    padding: 0;
    margin: 0 auto;
  }

  header #main-nav .nav-wrap .nav-list li {
    display: inline-block;
    margin: 0 25px;
  }

  header #main-nav .nav-wrap .nav-list li a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 30px;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  header #main-nav .nav-wrap .nav-list li a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  header #main-nav .learn-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    width: 25%;
  }

  header #main-nav .learn-more .button {
    display: block;
    margin: 0 auto;
    background: #2fc353;
    padding: 10px 40px;
    color: #fff;
    text-decoration: none;
    font-family: "Gilroy-ExtraBold", sans-serif;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  header #main-nav .learn-more .button:hover {
    background: #1d47ff;
  }

  header .hero-wrap {
    padding: 2em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header .hero-wrap .wrapper .hero-inner {
    float: left;
    width: 50%;
    padding: 4em 0;
  }

  header .hero-wrap .wrapper .hero-inner h1 {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 2.4em;
  }

  header .hero-wrap .wrapper .hero-inner p {
    font-size: 1.1em;
    line-height: 2;
    color: #000000;
  }

  .page-header {
    text-align: center;
    padding: 100px 0 100px 0;
    background-color: #ffffff;
    border-radius: 0px 0px 40px 40px;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      color: #1e1c21;
      padding: 0 0 15px 0;
      line-height: 54px;
    }

    h2 {
      font-size: 36px;
      font-style: normal;
      font-weight: bold;
      color: #1e1c21;
      line-height: 54px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 34px;
    }

    img {
      margin-top: 61px;
      max-width: 65%;
    }

    &.home {
      padding-bottom: 10px;
    }

    @media screen and (max-width: $break-small) {
      padding-top: 1px;
      padding-bottom: 50px;

      h1,
      h2 {
        padding-top: 0;
      }

      img {
        max-width: 80%;
      }
    }
  }

  .features {
    .feature__item {
      .row {
        flex-wrap: wrap;
        align-content: center;

        .col-4 {
          margin: 0 auto;
          padding: 2em;

          .card {
            padding: 5em;

            .card-image {
              img {
                max-width: 15em;
                height: 15em;
                border-width: 6px;
                border-radius: 200px;
                background: #fff;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
              }
            }

            .card-body {
              // padding: 4em;

              h4 {
                text-align: center;
                font-family: "Gilroy-Regular";
                font-size: 2.5em;
                color: #000;
                font-weight: 700;
                margin-bottom: 5%;
              }

              p {
                font-size: 1.5em;
                text-align: center;
                color: rgba(0, 0, 0, 0.836);
                font-weight: 200;
                font-family: "Gilroy-Regular";
              }
            }
          }

          img {
            float: right;
            margin-right: 15%;
          }

          h3 {
            float: right;
            text-align: right;
            padding: 2em;
            margin-top: -5%;

            // max-width: min-content;
          }
        }
      }

      .hero2 {
        background-image: url("../../static/images/PlantHero2.png");
        height: 600px;
        background-size: cover;
        margin-bottom: -15%;
      }

      .feature__content {
        justify-content: center;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 3em;
          font-weight: bold;
          margin-top: 10%;
          margin-bottom: 1em;
          margin-left: 10%;
          color: #fff;
        }

        p {
          font-size: 18px;
          line-height: 26px;
          margin-left: 10%;
          max-width: 30%;
        }
      }

      .thumbnail {
        img {
          max-width: 100%;
        }
      }
    }

    @media screen and (max-width: $break-small) {
      .col-6.first {
        order: 1;
      }

      .col-6 {
        order: 2;
      }

      .content {
        text-align: center;
        display: block !important;
        margin: 0;
      }

      h2 {
        margin-top: 10px;
      }
    }
  }

  .call-to-action {
    background-color: #098a34;
    color: #ffffffe9;
    padding: 65px 0;
    border-radius: 40px 40px 0px 0px;

    .container {
      display: flex;

      @media screen and (max-width: $break-small) {
        display: block;

        .call-to-action__content {
          text-align: center;
        }
      }
    }

    .button {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: $break-small) {
        display: block;
        width: 100%;
        margin-top: 30px;
      }

      a {
        font-size: 18px;
        background-color: #ffffffd6;
        width: 184px;
        margin-left: auto;
        border-radius: 4px;
        height: 54px;
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
        color: #1f1f1f;

        @media screen and (max-width: $break-small) {
          margin: 0 auto;
        }

        &:active {
        }
      }
    }

    .call-to-action__content {
      h2 {
        font-size: 36px;
        font-family: Inter;
        font-weight: 600;
        margin: 0 0 32px;
        color: #ffffffec;
      }

      p {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }

  .content {
    line-height: 26px;
    margin: 47px 0 23px;

    p {
      margin: 0 0 16px;
    }

    .title {
      margin: 0 0 44px;
    }
  }

  .targets {
    margin: 120px 0 0;

    .title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 99px;
      color: #1e1c21;
    }

    .item {
      margin: 0 0 60px 0;

      h3 {
        font-size: 18px;
        margin: 5px 0 0;
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  .bg-color {
    background-color: #ffffff;
    padding: 52px 0;
  }

  .integration-guid {
    width: 80%;
    margin: 0 auto;
    color: #1e1c21;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: Inter;
    }

    .title {
      text-align: center;

      h2 {
        font-size: 36px;
      }
    }

    .content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  footer {
    background-image: url("../images/footer.png");
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    height: 300px;

    @media screen and (max-width: $break-small) {
      padding: 50px 0 45px;
    }

    .widget__item {
      @media screen and (max-width: $break-small) {
        padding: 15px 0 0;
      }

      .about {
        margin-top: 26px;
      }

      .about {
        font-size: 14px;
        line-height: 23px;
      }

      .links {
        h4 {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: Inter;
          line-height: 0;
        }

        ul {
          margin: 15px 0 0 0;

          li {
            line-height: 26px;

            a {
              font-size: 14px;
              color: #797283;

              &:hover,
              &:active {
                color: #098a34;
              }
            }
          }
        }

        .links__special {
          background-color: #098a34;
          color: #ffffffe5;
          border-radius: 4px;
          padding: 2px 5px;

          &:hover {
            color: #ffffffe1;
          }
        }
      }

      .social {
        text-align: right;

        @media screen and (max-width: $break-small) {
          text-align: center;
        }

        a {
          margin-left: 20px;

          img {
            filter: contrast(0);
            transition: 0.15s;
          }

          &:hover img {
            filter: contrast(1);
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      margin-top: 90px;

      @media screen and (max-width: $break-small) {
        margin-top: 31px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}
