@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Gilroy-Regular", sans-serif;
  color: #ffffff;
  justify-content: center;

  p {
    font-family: gilroy;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  a {
    color: #098a34;

    &:hover,
    &:active {
      color: #098a34;
    }
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
  }

  header {
    background: url("../images/hero.jpg") center left no-repeat;
    background-size: flex;
    min-height: 650px;
  }

  header #main-nav {
    padding: 1em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header #main-nav .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    float: left;
  }

  header #main-nav .logo-wrap a {
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  header #main-nav .logo-wrap a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  header #main-nav .nav-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    width: 50%;
  }

  header #main-nav .nav-wrap .nav-list {
    display: block;
    padding: 0;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 2px;
  }

  header #main-nav .nav-wrap .nav-list li {
    display: inline-block;
    margin: 0 25px;
  }

  header #main-nav .nav-wrap .nav-list li a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 30px;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  header #main-nav .nav-wrap .nav-list li a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  header #main-nav .learn-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    width: 25%;
  }

  header #main-nav .learn-more .button {
    display: block;
    margin: 0 auto;
    background: #2fc353;
    padding: 10px 40px;
    color: #fff;
    text-decoration: none;
    font-family: "Gilroy-ExtraBold", sans-serif;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  header #main-nav .learn-more .button:hover {
    background: #1d47ff;
  }

  header .hero-wrap {
    // padding: 2em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header .hero-wrap .wrapper .hero-inner {
    float: left;
    width: 50%;
    padding: 4em 0;
  }

  header .hero-wrap .wrapper .hero-inner h1 {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 2.4em;
  }

  header .hero-wrap .wrapper .hero-inner p {
    font-size: 1.1em;
    color: #000000;
    font-family: "Gilroy-Regular", sans-serif;
    background-color: #fff;
    opacity: 0.75;
    padding: 1em;
    border-radius: 1em;
  }

  .container {
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.267);
    margin-bottom: -5%;

    .row {
      display: flex;
      padding: 2em;

      .col-4 {
        margin: 0 auto;

        h3 {
          font-size: 2em;
        }

        img {
          width: 8em;
          padding: em;
        }
      }
    }
  }

  .whyHemp {
    padding: none;

    .hero2 {
      background: url("../images/PlantHero2.png") center no-repeat;
      display: inline-flex;
      height: 800px;

      .row {
        .col-4 {
          h2 {
            font-size: 3em;
            font-weight: bold;
            margin-top: 10%;
            margin-left: 10%;
            color: #fff;
          }

          p {
            font-size: 1.2em;
            margin-left: 10%;
            max-width: 30%;
            font-family: "Gilroy-Regular", sans-serif;
          }
        }
      }
    }
  }

  .mobileBody {
    background: none;
  }

  .info {
    margin-top: -10%;

    .row {
      width: 100%;
      text-align: center;

      .col-4 {
        display: table-cell;
        margin: 0 auto;
        padding: 1em;

        img {
          width: 15em;
          height: 15em;
          border-width: 1em;
          border-radius: 8em;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
        }

        h4 {
          font-family: "Gilroy-Regular";
          font-size: 2.5em;
          color: #000;
          font-weight: 700;
          margin-bottom: -10%;
        }

        p {
          font-size: 1.5em;
          color: rgba(0, 0, 0, 0.836);
          font-weight: 200;
          font-family: "Gilroy-Regular";
          padding: 2em;
        }
      }
    }
  }

  footer {
    background-image: url("../images/footer.png");
    background-position: center;
    background-size: auto;
    height: 300px;
  }


  @media (min-width:1025px) and (max-width: 1200px) {
    header {
      background: none;

      #main-nav {
        .nav-wrap {
          display: none;
        }
      }

      div.hero-wrap {
        text-align: center;
        padding: 2em;
        display: block;

        .wrapper {
          .hero-inner.left {
            display: none;
          }

          .hero-inner.right {
            width: 80%;
            margin: 0 auto;
            float: none;

            h1 {
              margin: 0 auto;
            }
          }
        }
      }
    }

    .mobileHero {
      background: url("../images/mobileHero.jpg") center no-repeat;
      height: 500px;
      margin-top: -5%;
    }

    .container {
      box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.267);
      width: 100%;

      .row {
        width: 100%;
        padding: 2em;

        .col-4 {
          margin: 0 auto;

          h3 {
            font-size: 2em;
          }

          img {
            width: 8em;
            margin-left: 25%;
          }
        }
      }
    }

    .whyHemp {
      width: 100%;

      .hero2 {
        background: url("../images/PlantHero2.png") no-repeat;

        .row {
          width: 100%;

          .col-4 {
            h2 {
              font-size: 3em;
              font-weight: bold;
              margin-top: 10%;
              margin-left: 10%;
              color: #fff;
            }

            p {
              font-size: 1.2em;
              margin-left: 10%;
              max-width: 30%;
              font-family: "Gilroy-Regular", sans-serif;
            }
          }
        }
      }
    }

    .info {

      .row {

        .col-4 {
          background-color: #c6d2ca;
          padding: 1em;
          display: table-cell;

          img {
            width: 15em;
            height: 15em;
            border-width: 1em;
            border-radius: 8em;

          }

          h4 {
            font-family: "Gilroy-Regular";
            font-size: 3em;
            color: #fff;
            font-weight: 700;
            margin-bottom: 5%;
            background-color: #098a34;
            opacity: 0.7;
            border-radius: 8px;
          }

          p {
            font-size: 1.5em;
            color: rgba(0, 0, 0, 0.836);
            font-weight: 200;
            font-family: "Gilroy-Regular";
            background-color: #fff;
            opacity: 0.7;
            padding: 2em;
            border-radius: 8px;
          }
        }
      }
    }

  }

  @media (max-width: 1024px) {
    header {
      background: none;

      #main-nav {
        .nav-wrap {
          display: none;
        }
      }

      div.hero-wrap {
        text-align: center;
        padding: 2em;

        .wrapper {
          .hero-inner.left {
            display: none;
          }

          .hero-inner.right {
            width: 100%;

            p {
              font-size: 1.5em;
            }
          }
        }
      }
    }

    .container {
      width: 100%;

      .row {
        width: 100%;
        padding: 0.01em;

        .col-4 {
          h3 {
            font-size: 1em;
          }

          img {
            width: 4em;
            margin-left: 25%;
          }
        }
      }
    }

    .mobileBody {
      background: url("../images/mobileHero2.jpg") top no-repeat;
      margin-top: 20%;
      text-align: center;
      background-repeat: round;
      background-position-x: inherit;

      .whyHemp {
        .hero2 {
          background: none;

          .row {
            .col-4 {
              h2 {
                text-align: center;
                font-size: 3em;
                color: #fff;
                background-color: #098a34;
                width: 100%;
                border-radius: 8px;
                margin-top: 0%;
                display: table-row-group;
              }

              p {
                margin-top: 5%;
                font-family: "Gilroy-Regular", sans-serif;
                color: #000000;
                background-color: #c6d2ca;
                opacity: 0.9;
                padding: 0;
                margin-bottom: 5%;
                font-size: 2em;
                display: table-cell;
              }

            }
          }
        }
      }
    }

    .info {
      .row {
        text-align: center;
        margin-top: 5%;

        .col-4 {
          padding: 2em;
          background-color: #c6d2ca;
          display: block;

          img {
            width: 17em;
            height: 17em;
            border-width: 1em;
            border-radius: 8em;
          }

          h4 {
            font-family: "Gilroy-Regular";
            font-size: 3em;
            color: #fff;
            font-weight: 700;
            margin-bottom: 5%;
            background-color: #098a34;
            opacity: 0.7;
            border-radius: 8px;
            padding: 0.5em;
          }

          p {
            font-size: 1.5em;
            color: rgba(0, 0, 0, 0.836);
            font-weight: 200;
            font-family: "Gilroy-Regular";
            background-color: #fff;
            opacity: 0.7;
            border-radius: 8px;
          }
        }
      }
    }

    footer {
      margin-top: 10%;
    }
  }

  @media(max-width: 760px) {
    header {
      background: none;

      #main-nav {
        .nav-wrap {
          display: none;
        }
      }

      div.hero-wrap {
        text-align: center;
        padding: 2em;

        .wrapper {
          .hero-inner.left {
            display: none;
          }

          .hero-inner.right {
            width: 100%;
          }
        }
      }
    }

    .container {
      width: 100%;

      .row {
        display: inline-grid;
        width: 100%;

        .col-4 {
          h3 {
            font-size: 3em;
          }

          img {
            width: 15em;
            margin-left: 20%;
          }
        }
      }
    }

    .mobileBody {
      background: url("../images/mobileHero2.jpg") top no-repeat;
      margin-top: 20%;
      text-align: center;

      .whyHemp {
        .hero2 {
          background: none;

          .row {
            .col-4 {
              h2 {
                text-align: center;
                font-size: 3em;
                color: #fff;
                background-color: #098a34;
                width: 80%;
                border-radius: 8px;
                margin-top: -10%;
              }

              p {
                margin-left: 20%;
                text-align: center;
                font-family: "Gilroy-Regular", sans-serif;
                color: #000000;
                background-color: #c6d2ca;
                opacity: 0.9;
                padding: 5em;
                border-radius: 8px;
                margin-bottom: 5%;
              }
            }
          }
        }
      }
    }

    .info {
      .row {
        text-align: center;
        margin-top: 40%;

        .col-4 {
          padding: 2em;
          background-color: #c6d2ca;
          display: block;

          img {
            width: 17em;
            height: 17em;
            border-width: 1em;
            border-radius: 8em;
            // margin-top: 25%;
          }

          h4 {
            font-family: "Gilroy-Regular";

            font-size: 3em;
            color: #fff;
            font-weight: 700;
            margin-bottom: 5%;
            background-color: #098a34;
            opacity: 0.7;
            border-radius: 8px;
            padding: 0.5em;
          }

          p {
            font-size: 1.5em;
            color: rgba(0, 0, 0, 0.836);
            font-weight: 200;
            font-family: "Gilroy-Regular";
            background-color: #fff;
            opacity: 0.7;
            border-radius: 8px;
          }
        }
      }
    }

    footer {
      margin-top: 10%;
    }
  }

  @media (max-width: 500px) {
    header {
      background: none;

      #main-nav {
        .nav-wrap {
          display: none;
        }

        .learn-more {
          display: table-cell;
          float: inherit;
          width: 100%;
          font-size: 1.2em;
          padding: 3em;
          margin: 12px auto;
          text-align: center;
        }

      }

      div.hero-wrap {
        text-align: center;
        padding: 0;

        .wrapper {
          .hero-inner.left {
            display: none;
            padding: 0;
          }

          .hero-inner.right {
            width: 100%;
            font-size: 1.2rem;
            padding: 0;
          }
        }
      }
    }

    .container {
      width: 100%;

      .row {
        display: inline-grid;
        padding: 0;

        .col-4 {
          display: block;

          h3 {
            font-size: 2em;
            display: block;
          }

          img {
            padding: 2em;
            width: 10em;
            display: block;
            margin-left: 0;
          }
        }
      }
    }

    .mobileBody {
      background: url("../images/mobileHero2.jpg") top no-repeat;
      margin-top: 20%;
      text-align: center;

      .whyHemp {
        .hero2 {
          background: none;

          .row {
            .col-4 {
              height: 100px;

              h2 {
                text-align: center;
                font-size: 4em;
                color: #fff;
                background-color: #098a34;
                width: 80%;
                border-radius: 8px;
                margin-top: 0%;
              }

              p {
                margin-left: 0;
                text-align: center;
                font-family: "Gilroy-Regular", sans-serif;
                color: #000000;
                display: table-cell;
                background-color: #c6d2ca;
                opacity: 0.9;
                padding: 1em;
                border-radius: 8px;
                margin-bottom: 5%;
                font-size: 2em;
              }
            }
          }
        }
      }
    }

    .info {
      .row {
        text-align: center;
        margin-top: 80%;

        .col-4 {
          padding: 2em;
          background-color: #c6d2ca;
          display: block;
          margin-top: 5%;

          img {
            width: 15em;
            height: 15em;
            border-width: 1em;
            border-radius: 8em;
          }

          h4 {
            font-family: "Gilroy-Regular";

            font-size: 3em;
            color: #fff;
            font-weight: 700;
            margin-bottom: 5%;
            background-color: #098a34;
            opacity: 0.7;
            border-radius: 8px;
            padding: 0.5em;
          }

          p {
            font-size: 1.5em;
            color: rgba(0, 0, 0, 0.836);
            font-weight: 200;
            font-family: "Gilroy-Regular";
            background-color: #fff;
            opacity: 0.7;
            border-radius: 8px;
          }
        }
      }
    }

    footer {
      margin-top: 10%;
    }
  }
}