@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("../fonts/Gilroy-Heavy.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

html {}

body {
  font-family: "Gilroy-Regular", sans-serif;
  color: #ffffff;
  justify-content: center;
  margin: 0;

  p {
    font-family: gilroy;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  a {
    color: #098a34;

    &:hover,
    &:active {
      color: #098a34;
    }
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
  }

  header {
    background: url("../images/hero.jpg") bottom left no-repeat;
    background-size: flex;
    min-height: 820px;
  }

  header #main-nav {
    padding: 2em 2em 2em 12em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.267);
  }

  header #main-nav .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    float: left;
    padding-top: .5em;
  }

  header #main-nav .logo-wrap a {
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  header #main-nav .logo-wrap a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  header #main-nav .nav-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    width: 50%;
  }

  header #main-nav .nav-wrap .nav-list {
    display: block;
    padding: 0;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 2px;
  }

  header #main-nav .nav-wrap .nav-list li {
    display: inline-block;
    margin: 0 25px;
  }

  header #main-nav .nav-wrap .nav-list li a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    padding: 20px 35px;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  header #main-nav .nav-wrap .nav-list li a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  header #main-nav .learn-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    width: 25%;
  }

  header #main-nav .learn-more .button {
    display: block;
    margin: 0 auto;
    background: #2fc353;
    color: #fff;
    text-decoration: none;
    font-family: "Gilroy-ExtraBold", sans-serif;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
    font-size: 1.5em;
    border-radius: .8em;
    width: auto;
    padding: 0.5em 1em;
  }

  header #main-nav .learn-more .button:hover {
    background: #308946;
  }

  header .hero-wrap {
    // padding: 2em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10em 0em 0em 10em;
  }

  header .hero-wrap .wrapper .hero-inner {
    float: left;
    width: 50%;
    padding: 4em 0;
  }

  header .hero-wrap .wrapper .hero-inner h1 {
    color: #2fc353;
    font-family: "Gilroy-Heavy", sans-serif;
    font-size: 2em;
  }

  header .hero-wrap .wrapper .hero-inner p {
    font-size: 1.4em;
    color: #000000;
    font-family: "Gilroy-Regular", sans-serif;
    background-color: #fff;
    opacity: 0.75;
    border-radius: 1em;
    padding-top: 1em;
  }

  .container {
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.267);
    margin-bottom: -5%;

    .row {
      display: flex;
      padding: 2em 0 2em 0;

      .col-2 {
        margin: 0 auto;
        display: flex;
        -webkit-transition: 0.3s ease all;
        -o-transition: 0.3s ease all;
        transition: 0.3s ease all;

        h3 {
          font-size: 1.5em;
        }

        img {
          width: 5em;
          padding-right: 1em;
        }
      }

      .col-4:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  .whyHemp {
    padding: none;

    .hero2 {
      background: url("../images/PlantHero2.png") center no-repeat;
      display: inline-flex;
      height: 800px;

      .row {
        .col-4 {
          h2 {
            font-size: 4em;
            font-weight: bold;
            margin-top: 5%;
            margin-left: 10%;
            color: #fff;
            padding-top: 1.2em;
          }

          p {
            font-size: 1.7em;
            margin-left: 10%;
            max-width: 30%;
            line-height: 4vh;
            font-family: "Gilroy-Regular", sans-serif;
          }
        }
      }
    }
  }

  .mobileBody {
    background: none;
  }

  .info {
    margin-top: -10%;
    margin-bottom: 2em;

    .row {
      width: 100%;
      text-align: center;

      .col-4 {
        display: table-cell;
        margin: 0.5em 2em 0;
        padding: 1em;

        img {
          width: 15em;
          height: 15em;
          border-width: 1em;
          border-radius: 8em;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
          -webkit-transition: 0.3s ease all;
          -o-transition: 0.3s ease all;
          transition: 0.3s ease all;
        }

        img:hover {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
        }

        h4 {
          font-family: "Gilroy-Regular";
          font-size: 2.5em;
          color: #fff;
          font-weight: 700;
          margin: 0.5em 2em 0;
          background-color: #098a34;
          opacity: 0.7;
        }

        p {
          font-size: 1.2em;
          color: rgba(0, 0, 0, 0.836);
          font-weight: 200;
          font-family: "Gilroy-Regular";
          padding: 0.5em 2em 0;
        }
      }
    }
  }

  footer {
    background-color: #125020;
    height: 250px;
    border-radius: 2em 2em 0 0;

    .feet {
      .row {
        text-align: center;

        .col-4 {
          margin: 0 20em 0 20em;
          padding: 1.5em 0 1em 0;

          img {
            display: grid;
            margin: auto;
          }
        }
      }
    }
  }

  @media (min-width: 1025px) and (max-width: 1400px) {
    header {
      background: none;

      #main-nav {
        padding: 1em;

        .nav-wrap {
          display: none;
        }
      }

      div.hero-wrap {
        text-align: center;
        display: block;
        margin: 0 auto;

        .wrapper {
          .hero-inner.left {
            display: none;
          }

          .hero-inner.right {
            width: 75%;
            margin: 3em 5em;
            padding: 3em;

            h1 {
              margin: 0 auto;
              font-size: 3em;
            }

            p {
              font-size: 2em;
              padding: 0;
            }
          }
        }
      }
    }

    .mobileHero {
      background: url("../images/mobileHero.jpg") center no-repeat;
      height: 500px;
      margin-top: -5%;
    }

    .container {
      box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.267);
      width: 100%;

      .row {
        padding: 2em 0 5em 0;
        margin: 0;

        .col-2 {
          margin: 0 auto;

          h3 {
            font-size: 1em;
          }

          img {
            width: 4em;
          }
        }
      }
    }

    .whyHemp {
      width: 100%;

      .hero2 {
        background: url("../images/PlantHero2.png") no-repeat;

        .row {
          width: 100%;

          .col-4 {
            h2 {
              font-size: 3em;
              font-weight: bold;
              margin-top: 10%;
              margin-left: 10%;
              color: #fff;
            }

            p {
              font-size: 1.2em;
              margin-left: 10%;
              max-width: 50%;
              font-family: "Gilroy-Regular", sans-serif;
            }
          }
        }
      }
    }

    .info {
      .row {
        .col-4 {
          background-color: #c6d2ca;
          padding: 1em;
          display: inline-flex;

          img {
            width: 15em;
            height: 15em;
            border-width: 1em;
            border-radius: 8em;
            margin: 1em 0;
          }

          h4 {
            font-family: "Gilroy-Regular";
            font-size: 3em;
            color: #098a34;
            font-weight: 700;
            margin-bottom: 0;
            background-color: unset;
            opacity: 0.7;
            border-radius: 8px;
            margin: 2em 1em;
          }

          p {
            font-size: 1.5em;
            color: rgba(0, 0, 0, 0.836);
            font-weight: 200;
            font-family: "Gilroy-Regular";
            background-color: #fff;
            opacity: 0.7;
            padding: 2em;
            border-radius: 8px;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    header {
      background: none;
      height: auto;

      #main-nav {
        padding: 1em 1em;

        .nav-wrap {
          display: none;
        }
      }

      div.hero-wrap {
        text-align: center;
        padding: 4em 2em;
        margin: 4em 0;

        .wrapper {
          .hero-inner.left {
            display: none;
          }

          .hero-inner.right {
            width: 100%;

            h1 {
              font-size: 2.5em;
              ;
            }

            p {
              font-size: 1.5em;
            }
          }
        }
      }
    }

    .container {
      .row {
        padding: 0;
        margin: 0 2em 0 2em;

        .col-2 {
          padding: 1em;

          h3 {
            font-size: 1em;
          }

          img {
            width: 3em;
          }
        }
      }
    }

    .mobileBody {
      background: url("../images/PlantHero2.png") top no-repeat;
      margin-top: 10%;
      text-align: center;

      .whyHemp {
        .hero2 {
          background: none;

          .row {
            margin: 0;

            .col-4 {
              margin: 8em 6em;
              padding: 1em;

              h2 {
                text-align: center;
                font-size: 3em;
                color: #fff;
                background: linear-gradient(to bottom,
                    #098a34 0%,
                    #125020 100%);
                width: 100%;
                border-radius: 4em;
                padding-bottom: 4em;
                opacity: 0.9;
                display: table-row;
              }

              p {
                margin-top: 5%;
                font-family: "Gilroy-Regular", sans-serif;
                color: #000000;
                background-color: #c6d2ca;
                opacity: 0.9;
                padding: 1em;
                margin-bottom: 5%;
                font-size: 1.5em;
                display: table-cell;
              }
            }
          }
        }
      }
    }

    .info {
      .row {
        text-align: center;
        margin-top: 5%;

        .col-4 {
          padding: 2em 15em;
          background-color: #c6d2ca;
          display: block;
          margin: 0;

          img {
            width: 17em;
            height: 17em;
            border-width: 1em;
            border-radius: 8em;
          }

          h4 {
            font-family: "Gilroy-Regular";
            font-size: 3em;
            color: #fff;
            font-weight: 700;
            background-color: #098a34;
            opacity: 0.7;
            border-radius: 8px;
            padding: 0.5em;
            margin: 1em 0 .3em;
            ;
          }

          p {
            font-size: 1.5em;
            color: rgba(0, 0, 0, 0.836);
            font-weight: 200;
            font-family: "Gilroy-Regular";
            background-color: #fff;
            opacity: 0.7;
            border-radius: 8px;
            margin: 0;
            padding: 1em;
          }
        }
      }
    }

    footer {
      height: auto;

      .feet {
        .row {
          .col-4 {
            margin: 0;
          }
        }
      }
    }
  }

  @media (max-width: 769px) {
    header {
      background: none;

      #main-nav {
        .nav-wrap {
          display: none;
        }
      }

      div.hero-wrap {
        text-align: center;
        padding: 2em;

        .wrapper {
          .hero-inner.left {
            display: none;
          }

          .hero-inner.right {
            width: 100%;
          }
        }
      }
    }

    .container {
      display: table;
      margin: 0 auto;
      box-shadow: none;

      .row {
        align-content: center;
        width: 100%;
        display: grid;
        margin: 0;


        .col-2 {
          margin: 0;
          display: table-column;

          img {
            width: 13em;
            margin: 0 5em;
            padding: 0;
            align-self: center;
          }

          h3 {
            font-size: 3em;
            margin: auto;
            text-align: center;
          }

        }
      }
    }

    .mobileBody {
      background: url("../images/mobileHero2.jpg") top no-repeat;
      margin-top: 20%;
      text-align: center;

      .whyHemp {
        .hero2 {
          background: none;

          .row {
            .col-4 {
              h2 {
                text-align: center;
                font-size: 3em;
                color: #fff;
                background-color: #098a34;
                width: 80%;
                border-radius: 8px;
              }

              p {
                margin: 0 auto;
                text-align: center;
                font-family: "Gilroy-Regular", sans-serif;
                color: #000000;
                background-color: #c6d2ca;
                opacity: 0.9;
                padding: 2em;
                border-radius: 8px;
                margin-bottom: 5%;
              }
            }
          }
        }
      }
    }

    .info {
      .row {
        text-align: center;
        margin: 1em 0;

        .col-4 {
          padding: 2em 10em 0;
          background-color: #c6d2ca;
          display: block;

          img {
            width: 17em;
            height: 17em;
            border-width: 1em;
            border-radius: 8em;
            // margin-top: 25%;
          }

          h4 {
            font-family: "Gilroy-Regular";

            font-size: 3em;
            color: #fff;
            font-weight: 700;
            margin-bottom: 5%;
            background-color: #098a34;
            opacity: 0.7;
            border-radius: 8px;
            padding: 0.5em;
          }

          p {
            font-size: 1.5em;
            color: rgba(0, 0, 0, 0.836);
            font-weight: 200;
            font-family: "Gilroy-Regular";
            background-color: #fff;
            opacity: 0.7;
            border-radius: 8px;
          }
        }
      }
    }

  }

  @media (max-width: 500px) {
    header {
      background: none;

      #main-nav {
        padding: 0;

        .nav-wrap {
          display: none;
        }

        .logo-wrap {
          float: left;

          a img {
            margin: 0 3em 1em;
          }
        }

        .learn-more {
          float: none;
          width: 100%;
          font-size: .8em;
          text-align: center;
          margin-top: 5%;
        }
      }

      div.hero-wrap {
        text-align: center;
        padding: 0;

        .wrapper {
          .hero-inner.left {
            display: none;
            padding: 0;
          }

          .hero-inner.right {
            width: 100%;
            font-size: 1.2rem;
            padding: 0;

            h1 {
              font-size: 2em;
            }

            p {
              font-size: 1.2em;
            }
          }
        }
      }
    }

    .container {
      display: table;
      margin: 0 auto;
      box-shadow: none;

      .row {
        align-content: center;
        width: 90%;
        display: grid;
        margin: 0;


        .col-2 {
          margin: 0;
          display: table-column;

          img {
            width: 15em;
            margin: 0 3em;
            padding: 0;
            align-self: center;
          }

          h3 {
            font-size: 2em;
            margin: auto;
            text-align: center;
          }

        }
      }
    }

    .mobileBody {
      background: url("../images/mobileHero2.jpg") top no-repeat;
      margin-top: 20%;
      text-align: center;

      .whyHemp {
        .hero2 {
          background: none;

          .row {
            .col-4 {
              margin: 14em 2em;
              padding: 1em;


              h2 {
                text-align: center;
                font-size: 3em;
                color: #fff;
                background-color: #098a34;
                border-radius: 8px;
                opacity: 0.8;
                padding: .5em;
              }

              p {
                margin: 1em auto;
                text-align: center;
                font-family: "Gilroy-Regular", sans-serif;
                color: #000000;
                display: table-cell;
                background-color: #c6d2ca;
                opacity: 0.8;
                padding: 1em;
                border-radius: 8px;
                line-height: normal;
                font-size: 1.5em;
              }
            }
          }
        }
      }
    }

    .info {
      .row {
        text-align: center;
        margin-top: 95%;

        .col-4 {
          padding: 2em;
          background-color: #c6d2ca;
          display: block;
          margin-top: 5%;

          img {
            width: 15em;
            height: 15em;
            border-width: 1em;
            border-radius: 8em;
          }

          h4 {
            font-family: "Gilroy-Regular";

            font-size: 3em;
            color: #fff;
            font-weight: 700;
            margin-bottom: 5%;
            background-color: #098a34;
            opacity: 0.7;
            border-radius: 8px;
            padding: 0.5em;
            margin: .5em 0;
          }

          p {
            font-size: 1.5em;
            color: rgba(0, 0, 0, 0.836);
            font-weight: 200;
            font-family: "Gilroy-Regular";
            background-color: #fff;
            opacity: 0.7;
            border-radius: 8px;
            margin: 0;
          }
        }
      }
    }

    footer {
      width: 100%;
    }
  }
}