@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Gilroy-Regular", sans-serif;
  color: #ffffff;
  justify-content: center;

  p {
    font-family: gilroy;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  a {
    color: #098a34;

    &:hover,
    &:active {
      color: #098a34;
    }
  }

  .wrapper {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
  }

  header {
    background: url("../images/hero.jpg") center left no-repeat;
    background-size: flex;
    min-height: 650px;
  }

  header #main-nav {
    padding: 1em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header #main-nav .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    float: left;
  }

  header #main-nav .logo-wrap a {
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  header #main-nav .logo-wrap a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  header #main-nav .nav-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    width: 50%;
  }

  header #main-nav .nav-wrap .nav-list {
    display: block;
    padding: 0;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 2px;
  }

  header #main-nav .nav-wrap .nav-list li {
    display: inline-block;
    margin: 0 25px;
  }

  header #main-nav .nav-wrap .nav-list li a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 30px;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  header #main-nav .nav-wrap .nav-list li a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  header #main-nav .learn-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    width: 25%;
  }

  header #main-nav .learn-more .button {
    display: block;
    margin: 0 auto;
    background: #2fc353;
    padding: 10px 40px;
    color: #fff;
    text-decoration: none;
    font-family: "Gilroy-ExtraBold", sans-serif;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  header #main-nav .learn-more .button:hover {
    background: #1d47ff;
  }

  header .hero-wrap {
    // padding: 2em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header .hero-wrap .wrapper .hero-inner {
    float: left;
    width: 50%;
    padding: 4em 0;
  }

  header .hero-wrap .wrapper .hero-inner h1 {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 2.4em;
  }

  header .hero-wrap .wrapper .hero-inner p {
    font-size: 1.1em;
    line-height: 2;
    color: #000000;
    font-family: "Gilroy-Regular", sans-serif;
    background-color: #fff;
    opacity: 0.75;
    padding: 1em;
    border-radius: 1em;
  }

  .container {
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.267);
    margin-bottom: -5%;

    .row {
      display: flex;
      padding: 2em;

      .col-4 {
        margin: 0 auto;

        h3 {
          font-size: 2em;
        }

        img {
          width: 8em;
          padding: em;
        }
      }
    }
  }

  .whyHemp {
    padding: none;

    .hero2 {
      background: url("../images/PlantHero2.png") center no-repeat;
      display: inline-flex;
      height: 800px;

      .row {
        .col-4 {
          h2 {
            font-size: 3em;
            font-weight: bold;
            margin-top: 10%;
            margin-left: 10%;
            color: #fff;
          }

          p {
            font-size: 1.2em;
            line-height: 26px;
            margin-left: 10%;
            max-width: 30%;
            font-family: "Gilroy-Regular", sans-serif;
          }
        }
      }
    }
  }

  .info {
    margin-top: -15%;

    .row {
      display: flex;
      text-align: center;

      .col-4 {
        padding: 5em;
        display: block;
        margin: 0 auto;

        img {
          width: 15em;
          height: 15em;
          border-width: 1em;
          border-radius: 8em;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
        }

        h4 {
          font-family: "Gilroy-Regular";
          font-size: 2.5em;
          color: #000;
          font-weight: 700;
          margin-bottom: 5%;
        }

        p {
          font-size: 1.5em;
          color: rgba(0, 0, 0, 0.836);
          font-weight: 200;
          font-family: "Gilroy-Regular";
        }
      }
    }
  }

  footer {
    background-image: url("../images/footer.png");
    background-position: center;
    background-size: auto;
    height: 300px;
  }
}
footer > div > div > div > div > a > img {
  margin-left: 50em;
}

@media (max-width: 1200px) {
  body {
    header {
      background: none;

      #main-nav {
        .nav-wrap {
          display: none;
        }
      }

      div.hero-wrap {
        text-align: center;
        padding: 2em;
        display: block;

        .wrapper {
          .hero-inner.left {
            display: none;
          }

          .hero-inner.right {
            width: 80%;
            margin: 0 auto;
            float: none;

            h1 {
              margin: 0 auto;
            }
          }
        }
      }
    }

    .container {
      box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.267);

      .row {
        display: flex;
        padding: 2em;

        .col-4 {
          margin: 0 auto;

          h3 {
            font-size: 2em;
          }

          img {
            width: 8em;
            margin-left: 25%;
          }
        }
      }
    }

    .whyHemp {
      .hero2 {
        background: url("../images/PlantHero2.png");

        .row {
          .col-4 {
            h2 {
              font-size: 3em;
              font-weight: bold;
              margin-top: 10%;
              margin-left: 10%;
              color: #fff;
            }

            p {
              font-size: 1.2em;
              line-height: 26px;
              margin-left: 10%;
              max-width: 30%;
              font-family: "Gilroy-Regular", sans-serif;
            }
          }
        }
      }
    }

    .mobileHero {
      background: url("../images/mobileHero.jpg") center no-repeat;
      height: 500px;
      margin-top: -5%;
    }
  }
}

@media (max-width: 1024px) {
  body {
    padding: 0;

    header {
      background: none;

      #main-nav {
        .nav-wrap {
          // display: none;
        }
      }

      div.hero-wrap {
        text-align: center;
        padding: 2em;

        .wrapper {
          .hero-inner.left {
            display: none;
          }

          .hero-inner.right {
            width: 100%;
          }
        }
      }
    }

    .container {
      box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.267);
      max-width: 100%;

      .row {
        display: flex;
        padding: 2em;
        width: 100%;

        .col-4 {
          margin: 0 auto;

          h3 {
            font-size: 2em;
          }
          img {
            width: 8em;
            margin-left: 25%;
          }
        }
      }
    }

    .whyHemp {
      .hero2 {
        background: none;

        .row {
          .col-4 {
            h2 {
              font-size: 3em;
              font-weight: bold;
              margin-top: 10%;
              margin-left: 10%;
              color: #fff;
            }

            p {
              font-size: 1.2em;
              line-height: 26px;
              margin-left: 10%;
              max-width: 30%;
              font-family: "Gilroy-Regular", sans-serif;
            }
          }
        }
      }
    }

    .mobileHero {
      background: url("../images/mobileHero.jpg") center no-repeat;
      height: 500px;
      margin-top: -5%;
    }

    .mobileBody {
      background: url("../images/mobileHero2.jpg") no-repeat;
      height: 1200px;
      margin-top: 5%;
    }
  }
}
